*{
    margin: 0;
    padding: 0;
}
header {
    background-image: url(images/desktop/image-header.jpg);
    height: 50vh;
    padding: 35px;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attribution {
     font-size: 11px; 
     text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
header h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
header a{
    display: block;
    text-decoration: none;
    color: white;
    align-items: center;
}
.arrow{
    display: block;
    margin: auto;
}
box{
    border-radius: 20px;
    color: black;
    padding: 12px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border-color: white;
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-columns: 6;
    grid gap: ;
}
main>div {
     border: 1px solid white transparent8;
     height: 60vh;
     padding: 30px;
}
.box1 h1{
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 1cm;
    margin-top: 5%;
}
.box1 p{
    text-align: left;
    padding-left: 50px;
}
.box1 h4{
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 0 10 10  hsl(51, 100%, 49%);
    padding-left: 50px;
    box-shadow: 20px;
}
.box2{
    background-image: url(./images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
}
.box3{
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}
.box4 h1{
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 1cm;
    margin-top: 5%;

    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 1cm;
    margin-top: 5%;
    
    

}
.box4 p{}
.box4 h4{}
.box5{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
}
.box6{
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
}