*{
    margin: 0;
    padding: 0;
}
header {
    background-image: url(images/desktop/image-header.jpg);
    height: 50vh;
    padding: 35px;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attribution {
     font-size: 11px; 
     text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
header h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
header a{
    display: block;
    text-decoration: none;
    color: white;
    align-items: center;
}
.arrow{
    display: block;
    margin: auto;
}
box{
    border-radius: 20px;
    color: black;
    padding: 12px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border-color: white;
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 6, 1fr;
}
main>div {
     border: 1px solid white;
     height: 50vh;
}
.box1{
     margin: 50px;
}
.box2{
    background-image: url(./images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
}
.box3{
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}
.box4{}
.box4{}
.box5{}
.box6{}